*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2{
    font-size: 2rem;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: aqua;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header input {
    width: 30rem;
    height: 2rem;
    padding-left:10px;
    border: none;
    border-radius: 0.5em;
}
main{
    border: 1px solid rgb(165, 163, 163);
    border-radius: 0.3em;
    width: 60%;
    height: 100%;
    align-self: center;
    margin-top: 5vh;
    padding: 1rem;
}

.container form input[type = text] {
    height: 2.5em;
    width: 20em;
    border-radius: 0.3em;
    padding-left: 0.5em;
}
.container form input[type = submit]{
    height: 2.5em;
    width: 8em;
    border-radius: 0.3em;
    color: white;
    background-color: rgb(54, 53, 53);
}
.item-card{
    margin-top: 1.5rem;
}  
ul{
    list-style: none;
}
ul li{
    border: 1px solid rgb(165, 163, 163);
    border-radius: 0.3em;
    font-size: 1.8em;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    margin-bottom: 0.5em;
}
.btn{
    background-color: rgb(237, 8, 8);
    padding: 0.5em;
    border: none;
    border-radius: 0.3em;
    color: white;
}
.btn:hover{
    background-color: rgb(240, 69, 69);
    transform: scale(1.1);
}

